<div class="contact-menu  container-fluid">
  <button type="button" class="close pull-right" (click)="onCloseClick()" aria-label="Close">
                           <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
  <ul class="mega-dropdown-menu row">
    <li class="col-sm-4">
      <ul>
        <li class="dropdown-header">Contacts:</li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
      </ul>
    </li>
    <li class="col-sm-4">
      <ul>
        <li >
          <i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;<strong> Phone:</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;651-631-0786.
        </li>
        <li >
          <i class="fa fa-skype"></i>&nbsp;&nbsp;&nbsp;<strong> Skype:</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Siraj00786.
        </li>
         </ul>
    </li>

       <li class="col-sm-4">
      <ul>
        <li >
          <i class="fa fa-envelope"></i>&nbsp;&nbsp; <strong>Email:</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;Siraj6514310786@gmail.com.
        </li>
        <li >
          <i class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp;<strong> Location:</strong> &nbsp;&nbsp;&nbsp;Frisco TX USA.
        </li>
      </ul>
    </li>
  </ul>
</div>

