//
// Variables
// --------------------------------------------------


$siraj360-01: #FFF5E8;
$siraj360-02: #FFEED5;
$siraj360-03: #FFEACA;   
$siraj360-04: #FFE7C1;
$siraj360-05: #FFDFB0;
$siraj360-06: #FFDBA4;
$siraj360-07: #FFD595;
$siraj360-08: #FFCC80;
$siraj360-09: #FFC46A;
$siraj360-10: #FFB648;
$siraj360-11: #FFA41A;
$siraj360-12: #F99500;
$siraj360-13: #F09100;
$siraj360-14: #E18700;
$siraj360-15: #D27E00;
$siraj360-16: #B36B00;
$siraj360-17: #AA6600;
$siraj360-18: #955900;
$siraj360-19: #774700;
$siraj360-20: #5E3800;

$siraj360-Alert: firebrick;

$theme_brown: #D27E00;
$theme_teal: #53A6A6;
$theme_olive:#A0A052;
$theme_blue: #0082BF;


$light-bg:                 $siraj360-01;
$menu-bg:                  $siraj360-18;
$menu-active-bg:           $siraj360-04;
$menu-caret:               $siraj360-11;
$menu-color:               $siraj360-01;
$dark-color:               $siraj360-18;
$darker-color:             $siraj360-19;
$darker-last-color:        $siraj360-20;
$section-bg:               $siraj360-02;
$carousel-bg:              $siraj360-15;