//
// Variables
// --------------------------------------------------


$siraj360-01: #F7FBFB;
$siraj360-02: #EEF7F7;
$siraj360-03: #E1F0F0;
$siraj360-04: #D6EBEB;
$siraj360-05: #CFE7E7;
$siraj360-06: #C2E0E0;
$siraj360-07: #B8DCDC;
$siraj360-08: #ADD6D6;
$siraj360-09: #9CCDCD;
$siraj360-10: #92C9C9;
$siraj360-11: #89C5C5;
$siraj360-12: #80BFBF;
$siraj360-13: #72B8B8;
$siraj360-14: #65B1B1;
$siraj360-15: #53A6A6;
$siraj360-16: #4A9393;
$siraj360-17: #428282;
$siraj360-18: #386D6D;
$siraj360-19: #2D5757;
$siraj360-20: #183030;

$siraj360-Alert: firebrick;

$theme_brown: #D27E00;
$theme_teal: #53A6A6;
$theme_olive:#A0A052;
$theme_blue: #0082BF;


$light-bg:                 $siraj360-01;
$menu-bg:                  $siraj360-18;
$menu-active-bg:           $siraj360-04;
$menu-caret:               $siraj360-11;
$menu-color:               $siraj360-01;
$dark-color:               $siraj360-18;
$darker-color:             $siraj360-20;
$section-bg:               $siraj360-02;
$carousel-bg:              $siraj360-15;


